.weakness{
  padding-top: 15px;
  padding-bottom: 15px;
}

.weakness__type{
  text-transform: uppercase;
  margin-bottom: 9px;
}

.weakness__title{
  font-weight: 300;
  margin-bottom: 9px;
}

.weakness__list{
  margin-bottom: 9px;
}

.weakness__item{
  list-style: none;
  display: inline;
}