@import "../../../assets/scss/variables";

.pokemon__info{
  display: flex;
  align-items: center;
}

.pokemon__info-media{
  padding-right: 1%;
  text-align: center;

  figure{
    margin-bottom: 9px;
  }
}

.pokemon__info-description{
  line-height: 1.3;
  padding-left: 1%;
}

.pokemon__sex-meter{
  width: 80%;
  font-size: 0.8em;

  span{
    width: 0;
    display: inline-block;
    height: 12px;
    transition: width 1s;
  }
}

.pokemon__sex-meter--male{
  span{
    color: $sex-male;
    background-color: $sex-male;
  }
}

.pokemon__sex-meter--female{
  span{
    color: $sex-female;
    background-color: $sex-female;
  }
}

.weakness{
  padding-top: 15px;
  padding-bottom: 15px;
}

.weakness__type{
  text-transform: uppercase;
  margin-bottom: 9px;
}

.weakness__title{
  font-weight: 300;
  margin-bottom: 9px;
}

.weakness__list{
  margin-bottom: 9px;
}

.weakness__item{
  list-style: none;
  display: inline;
}