//Text colors

$color-black: #000000;
$color-grey-dark: #e4e4e4;
$color-grey: #e7e7e7;
$color-grey-light: #f6f6f6;
$color-white: #ffffff;
$color-cyan: #29b6f6;

//Types colors

$type-normal: #fafafa;
$type-fire: #ef9a9a;
$type-water: #90caf9;
$type-electric: #fff9c4;
$type-grass: #f0f4c3;
$type-ice: #e1f5fe;
$type-fighting: #ffcc80;
$type-poison: #e1bee7;
$type-ground: #fff8e1;
$type-flying: #e0f7fa;
$type-psychic: #f8bbd0;
$type-bug: #b2dfdb;
$type-rock: #bcaaa4;
$type-ghost: #c5cae9;
$type-dragon: #b2ebf2;
$type-dark: #607d8b;
$type-steel: #eceff1;
$type-fairy: #fce4ec;

//Sex
$sex-male: #2196f3;
$sex-female: #e91e63;

//Fonts

$ff-montserrat: 'Montserrat', Arial, sans-serif;
$ff-istok: 'Istok', Arial, Helvetica, sans-serif;